@font-face {
  font-family: "Comics";
  src: url("../Fonts/BADABB__.TTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --x-position: 0px;
  --y-position: 0px;
}
body {
  height: 100%;
  background-image: url("../Images/Tiles/New-map-try-map.png");
}

main {
  background-image: url("../Images/Tiles/New-map-try-map-zoom.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-position-x: var(--x-position);
  background-position-y: var(--y-position);
  width: 1920px;
  height: 975px;
  overflow: auto;
  background-color: black;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 100%;
}

#restart {
  width: 40%;
  height: 20%;
  margin: auto;
  border-radius: 10%;
  background-color: darkred;
  box-shadow: 2rem 2rem 2rem black;
  font-size: 2.5rem;
  font-family: "Comics";
  color: darkgray;
  transition: all 2s;
}

#go-again {
  width: 40%;
  height: 30%;
  margin: auto;
  border-radius: 10%;
  background-color: darkslateblue;
  box-shadow: 2rem 2rem 2rem black;
  font-size: 2.5rem;
  font-family: "Comics";
  transition: all 2s;
}

#start-game {
  width: 40%;
  height: 40%;
  margin: auto;
  border-radius: 10%;
  background-color: darkslateblue;
  box-shadow: 2rem 2rem 2rem black;
  font-size: 5rem;
  font-family: "Comics";
  transition: all 2s;
}

.character {
  width: 64px;
  height: 64px;
  position: absolute;
}

.stats {
  position: fixed;
  left: 25px;
  top: 25px;
  width: 700px;
  height: 128px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 100vh;
}

.heart {
  width: 32px;
  height: 32px;
  background-image: url("../Images/heart.png");
}

.mana {
  width: 128px;
  height: 32px;
  color: gold;
  font-family: "Comics";
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.ennemy {
  width: 256px;
  height: 256px;
  position: absolute;
}

.mob {
  position: absolute;
  width: 64px;
  height: 64px;
}

.bat-1 {
  width: 320px;
  height: 352px;
  position: absolute;
  z-index: 100;
  top: calc(32px + var(--y-position));
  left: calc(64px + var(--x-position));
}

.bat-2 {
  width: 768px;
  height: 416px;
  position: absolute;
  z-index: 100;
  top: calc(0px + var(--y-position));
  left: calc(768px + var(--x-position));
}

.bat-3 {
  width: 352px;
  height: 352px;
  position: absolute;
  z-index: 100;
  top: calc(32px + var(--y-position));
  left: calc(1920px + var(--x-position));
}

.bat-4 {
  width: 448px;
  height: 352px;
  position: absolute;
  z-index: 100;
  top: calc(32px + var(--y-position));
  left: calc(2400px + var(--x-position));
}

.bat-5 {
  width: 768px;
  height: 608px;
  position: absolute;
  z-index: 100;
  top: calc(864px + var(--y-position));
  left: calc(64px + var(--x-position));
}

.parc-top {
  width: 928px;
  height: 32px;
  position: absolute;
  z-index: 100;
  top: calc(928px + var(--y-position));
  left: calc(960px + var(--x-position));
}

.parc-left {
  width: 32px;
  height: 416px;
  position: absolute;
  z-index: 100;
  top: calc(928px + var(--y-position));
  left: calc(960px + var(--x-position));
}

.parc-right {
  width: 32px;
  height: 416px;
  position: absolute;
  z-index: 100;
  top: calc(928px + var(--y-position));
  left: calc(1888px + var(--x-position));
}

.parc-bottom-left {
  width: 416px;
  height: 32px;
  position: absolute;
  z-index: 100;
  top: calc(1344px + var(--y-position));
  left: calc(960px + var(--x-position));
}

.parc-bottom-right {
  width: 416px;
  height: 32px;
  position: absolute;
  z-index: 100;
  top: calc(1344px + var(--y-position));
  left: calc(1504px + var(--x-position));
}

.bat-7 {
  width: 416px;
  height: 608px;
  position: absolute;
  z-index: 100;
  top: calc(864px + var(--y-position));
  left: calc(2432px + var(--x-position));
}

.bat-8 {
  width: 1120px;
  height: 192px;
  position: absolute;
  z-index: 100;
  top: calc(1312px + var(--y-position));
  left: calc(3328px + var(--x-position));
}

.bat-9 {
  width: 512px;
  height: 512px;
  position: absolute;
  z-index: 100;
  top: calc(1920px + var(--y-position));
  left: calc(64px + var(--x-position));
}

.bat-10 {
  width: 832px;
  height: 512px;
  position: absolute;
  z-index: 100;
  top: calc(1920px + var(--y-position));
  left: calc(1088px + var(--x-position));
}

.bat-11 {
  width: 480px;
  height: 512px;
  position: absolute;
  z-index: 100;
  top: calc(1920px + var(--y-position));
  left: calc(2432px + var(--x-position));
}

.bat-12 {
  width: 704px;
  height: 512px;
  position: absolute;
  z-index: 100;
  top: calc(1920px + var(--y-position));
  left: calc(3040px + var(--x-position));
}

.bat-13 {
  width: 192px;
  height: 512px;
  position: absolute;
  z-index: 100;
  top: calc(1920px + var(--y-position));
  left: calc(3872px + var(--x-position));
}

.top-map {
  width: 4464px;
  height: 16px;
  position: absolute;
  z-index: 100;
  top: calc(0px + var(--y-position));
  left: calc(0px + var(--x-position));
}

.left-map {
  width: 16px;
  height: 2544px;
  position: absolute;
  z-index: 100;
  top: calc(0px + var(--y-position));
  left: calc(0px + var(--x-position));
}

.right-map {
  width: 16px;
  height: 2544px;
  position: absolute;
  z-index: 100;
  top: calc(0px + var(--y-position));
  left: calc(4464px + var(--x-position));
}

.bottom-map {
  width: 4464px;
  height: 16px;
  position: absolute;
  z-index: 100;
  top: calc(2544px + var(--y-position));
  left: calc(0px + var(--x-position));
}

.spawn-one {
  width: 960px;
  height: 200px;
  position: absolute;
  z-index: 100;
  top: calc(600px + var(--y-position));
  left: calc(0px + var(--x-position));
}

.spawn2 {
  width: 960px;
  height: 320px;
  position: absolute;
  z-index: 100;
  top: calc(1600px + var(--y-position));
  left: calc(0px + var(--x-position));
}

.spawn3 {
  width: 1152px;
  height: 256px;
  position: absolute;
  z-index: 100;
  top: calc(1600px + var(--y-position));
  left: calc(2304px + var(--x-position));
}

.spawn4 {
  width: 256px;
  height: 1088px;
  position: absolute;
  z-index: 100;
  top: calc(512px + var(--y-position));
  left: calc(2048px + var(--x-position));
}

.spawn5 {
  width: 1248px;
  height: 960px;
  position: absolute;
  z-index: 100;
  top: calc(0px + var(--y-position));
  left: calc(3232px + var(--x-position));
}

.main-character.down-idle {
  background-image: url("./../Images/main-char/main-char01/_down-idle.png");
  background-position: 0px 0px;
}

.main-character.down-walk {
  background-image: url("../Images/main-char/main-char01/_down\ walk.png");
  background-position: 0px 0px;
}

.main-character.left-side-idle {
  background-image: url("../Images/main-char/main-char01/_side\ idle.png");
  background-position: 0px 0px;
}

.main-character.left-side-walk {
  background-image: url("../Images/main-char/main-char01/_side\ walk.png");
  background-position: 0px 0px;
}

.main-character.right-side-idle {
  background-image: url("../Images/main-char/main-char01/_side\ idle.png");
  background-position: 0px 0px;
  transform: scaleX(-1);
}

.main-character.right-side-walk {
  background-image: url("../Images/main-char/main-char01/_side\ walk.png");
  background-position: 0px 0px;
  transform: scaleX(-1);
}

.main-character.up-idle {
  background-image: url("../Images/main-char/main-char01/_up\ idle.png");
  background-position: 0px 0px;
}

.main-character.up-walk {
  background-image: url("../Images/main-char/main-char01/_up\ walk.png");
  background-position: 0px 0px;
}

.main-character.attack-down {
  background-image: url("../Images/main-char/main-char01/_down\ attack.png");
}

.main-character.attack-left {
  background-image: url("../Images/main-char/main-char01/_side\ attack.png");
}

.main-character.attack-right {
  background-image: url("../Images/main-char/main-char01/_side\ attack.png");
  transform: scaleX(-1);
}

.main-character.attack-up {
  background-image: url("../Images/main-char/main-char01/_up\ attack.png");
}

.main-character.dying {
  background-image: url("../Images/main-char/main-char01/_pick\ up.png");
}

.ennemy.down-idle {
  background-image: url("../Images/bad-guys/E_Bros_Assets_TopDownEnemy/Enemy-Melee-Idle-S.png");
}

.ennemy.down-walk {
  background-image: url("../Images/bad-guys/E_Bros_Assets_TopDownEnemy/Enemy-Melee-Idle-S.png");
}

.ennemy.right-side-idle {
  background-image: url("../Images/bad-guys/E_Bros_Assets_TopDownEnemy/Enemy-Melee-Idle-E.png");
}

.ennemy.right-side-walk {
  background-image: url("../Images/bad-guys/E_Bros_Assets_TopDownEnemy/Enemy-Melee-Idle-E.png");
}

.ennemy.left-side-idle {
  background-image: url("../Images/bad-guys/E_Bros_Assets_TopDownEnemy/Enemy-Melee-Idle-W.png");
}

.ennemy.left-side-walk {
  background-image: url("../Images/bad-guys/E_Bros_Assets_TopDownEnemy/Enemy-Melee-Idle-W.png");
}

.ennemy.up-idle {
  background-image: url("../Images/bad-guys/E_Bros_Assets_TopDownEnemy/Enemy-Melee-Attack-N.png");
}

.ennemy.up-walk {
  background-image: url("../Images/bad-guys/E_Bros_Assets_TopDownEnemy/Enemy-Melee-Idle-N.png");
}

.ennemy.attack-down {
  background-image: url("../Images/bad-guys/E_Bros_Assets_TopDownEnemy/Enemy-Melee-Attack-S.png");
}

.ennemy.attack-up {
  background-image: url("../Images/bad-guys/E_Bros_Assets_TopDownEnemy/Enemy-Melee-Attack-N.png");
}

.ennemy.attack-left {
  background-image: url("../Images/bad-guys/E_Bros_Assets_TopDownEnemy/Enemy-Melee-Attack-W.png");
}

.ennemy.attack-right {
  background-image: url("../Images/bad-guys/E_Bros_Assets_TopDownEnemy/Enemy-Melee-Attack-E.png");
}

.ennemy.dying {
  background-image: url("../Images/bad-guys/E_Bros_Assets_TopDownEnemy/Enemy-Melee-Death.png");
}

.mob.down-idle {
  background-image: url("../Images/bad-guys/TopDown_RockBoss_EBrosAssets/TopDown_RockBoss_EBrosAssets/idle/spritesheet-5.png");
}

.mob.down-walk {
  background-image: url("../Images/bad-guys/TopDown_RockBoss_EBrosAssets/TopDown_RockBoss_EBrosAssets/walk/spritesheet.png");
}

.mob.right-side-walk {
  background-image: url("../Images/bad-guys/TopDown_RockBoss_EBrosAssets/TopDown_RockBoss_EBrosAssets/walk/spritesheet-4.png");
}

.mob.left-side-walk {
  background-image: url("../Images/bad-guys/TopDown_RockBoss_EBrosAssets/TopDown_RockBoss_EBrosAssets/walk/spritesheet-3.png");
}

.mob.up-walk {
  background-image: url("../Images/bad-guys/TopDown_RockBoss_EBrosAssets/TopDown_RockBoss_EBrosAssets/walk/spritesheet-2.png");
}

.mob.attack-down {
  background-image: url("../Images/bad-guys/TopDown_RockBoss_EBrosAssets/TopDown_RockBoss_EBrosAssets/swipe/spritesheet-13.png");
}

.mob.attack-up {
  background-image: url("../Images/bad-guys/TopDown_RockBoss_EBrosAssets/TopDown_RockBoss_EBrosAssets/swipe/spritesheet-14.png");
}

.mob.attack-left {
  background-image: url("../Images/bad-guys/TopDown_RockBoss_EBrosAssets/TopDown_RockBoss_EBrosAssets/swipe/spritesheet-15.png");
}

.mob.attack-right {
  background-image: url("../Images/bad-guys/TopDown_RockBoss_EBrosAssets/TopDown_RockBoss_EBrosAssets/swipe/spritesheet-16.png");
}

.mob.dying {
  background-image: url("../Images/bad-guys/TopDown_RockBoss_EBrosAssets/TopDown_RockBoss_EBrosAssets/stomp/spritesheet-9.png");
}

.cultist {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 100;
  top: calc(1020px + var(--y-position));
  left: calc(1440px + var(--x-position));
}

.cultist.idle {
  background-image: url("../Images/bad-guys/Cultist/idle.png");
}

.cultist.right-side-walk {
  background-image: url("../Images/bad-guys/Cultist/walk-right.png");
}

.cultist.left-side-walk {
  background-image: url("../Images/bad-guys/Cultist/walk-right.png");
  transform: scaleX(-1);
}

.cultist.attack-left {
  background-image: url("../Images/bad-guys/Cultist/attack-right.png");
  transform: scaleX(-1);
}

.cultist.attack-right {
  background-image: url("../Images/bad-guys/Cultist/attack-right.png");
  transform: scaleX(1);
}

.cultist.dying {
  background-image: url("../Images/bad-guys/Cultist/dying.png");
}

.blue {
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: 100;
  top: calc(350px + var(--y-position));
  left: calc(300px + var(--x-position));
  background-image: url("../Images/static-npc/mage_guardian_free_creativekind/mage_guardian-blue.png");
}

.blue-zone {
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: 100;
  top: calc(350px + var(--y-position));
  left: calc(300px + var(--x-position));
}
.red {
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: 100;
  top: calc(2430px + var(--y-position));
  left: calc(300px + var(--x-position));
  background-image: url("../Images/static-npc/mage_guardian_free_creativekind/mage_guardian-red.png");
}

.red-zone {
  width: 128px;
  height: 128px;
  position: absolute;
  z-index: 100;
  top: calc(2430px + var(--y-position));
  left: calc(300px + var(--x-position));
}

.purple {
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: 100;
  top: calc(1120px + var(--y-position));
  left: calc(1760px + var(--x-position));
  background-image: url("../Images/static-npc/mage_guardian_free_creativekind/mage_guardian-magenta.png");
}

.purple-zone {
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: 100;
  top: calc(1120px + var(--y-position));
  left: calc(1760px + var(--x-position));
}

.bottom-map {
  width: 4464px;
  height: 16px;
  position: absolute;
  z-index: 100;
  top: calc(2544px + var(--y-position));
  left: calc(0px + var(--x-position));
}

#end-game {
  width: 50%;
  height: 70%;
  font-family: "Comics";
  font-size: 3rem;
  color: darkred;
  background-image: url("../Images/defeated\ hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#win-game {
  width: 50%;
  height: 70%;
  font-family: "Comics";
  font-size: 3rem;
  background-image: url("../Images/elements-avatar.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#win-game h1 {
  text-align: center;
  color: darkcyan;
}

.attack {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("../Images/Explosions-and-lightnings/folder01/Explosion_4/1/css_sprites\ \(1\).png");
  background-size: cover;
}

.attack-lightning {
  position: absolute;
  width: 130px;
  height: 660px;
  background-image: url("../Images/Explosions-and-lightnings/folder01/Explosion_7/1/css_sprites\ \(2\).png");
  background-size: cover;
}

.attack-ice {
  position: absolute;
  width: 51px;
  height: 51px;
  background-image: url("../Images/Explosions-and-lightnings/folder02/ice_shard/css_sprites\ \(5\).png");
  background-size: cover;
}

.blue-chat-screen {
  width: 50%;
  height: 70%;
  font-family: "Comics";
  font-size: 1rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20svh;
  padding: 100px;
}

.blue-chat-screen h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.advance {
  width: 40%;
  height: 30%;
  margin: auto;
  border-radius: 10%;
  background-color: darkslateblue;
  box-shadow: 2rem 2rem 2rem black;
  font-size: 2.5rem;
  font-family: "Comics";
  transition: all 2s;
}

.red-chat-screen {
  width: 50%;
  height: 70%;
  font-family: "Comics";
  font-size: 1rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20svh;
  padding: 100px;
}

.red-chat-screen h1 {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 1.5rem;
}

.advance2 {
  width: 40%;
  height: 30%;
  margin: auto;
  border-radius: 10%;
  background-color: darkslateblue;
  box-shadow: 2rem 2rem 2rem black;
  font-size: 2.5rem;
  font-family: "Comics";
  transition: all 2s;
}

.purple-chat-screen {
  width: 50%;
  height: 70%;
  font-family: "Comics";
  font-size: 1rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20svh;
  padding: 100px;
}

.purple-chat-screen h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.advance3 {
  width: 40%;
  height: 30%;
  margin: auto;
  border-radius: 10%;
  background-color: darkslateblue;
  box-shadow: 2rem 2rem 2rem black;
  font-size: 2.5rem;
  font-family: "Comics";
  transition: all 2s;
}

.blue-mage {
  width: 150px;
  height: 150px;
  background-image: url("../Images/blue-mage.png");
  background-position: center;
}

.red-mage {
  width: 150px;
  height: 150px;
  background-image: url("../Images/red-mage.jpeg");
  background-position: center;
}

.purple-mage {
  width: 150px;
  height: 150px;
  background-image: url("../Images/purple-mage.jpeg");
  background-position: center;
}
